@media (max-width: 910px) {
	.logo{
    margin: 10px;
    width: 150px;
    height: 58px;
	}
	.menu_list a{
    font-size: 15px;
	}

	.footer_text {
    max-width: 180px;
    font-size: 15px;
	}
	.ssylka{
    min-width: 155px;
	}
	.footer_ssylki {
    min-width: 480px;
	}
}

@media (max-width: 850px) {
	.menu_list a{
    font-size: 14px;
	}
	.menu_list li {
    margin:  0 10px;
	}

}

@media (max-width: 760px) {
	.footer-img {
    margin: 3px;
    width: 24px;
    height: 24px;;
	}
	.ssylka_text {
    font-size: 11px;
    padding-top: 2px;
	}
	.footer_text {
    max-width: 170px;
    font-size: 14px;
	}
}




